@page "/"

<PageTitle>Issue 45519</PageTitle>

<p>Edit here in Index.razor to see hot reload fail.</p>
<br/>

<a href="https://github.com/dotnet/aspnetcore/issues/51781">The current issue 51781 in Github</a> |
<a href="https://github.com/dotnet/aspnetcore/issues/47836">A very similar issue 47836 in Github</a>, mistakenly closed |
<a href="https://github.com/dotnet/aspnetcore/issues/45519">The earlier issue 45519 in Github</a>, with links to many other issues, mistakenly closed |

@code { 
}